*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    background-color: #fff;
    color: #494949;
    overflow-x: hidden;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

header{
    background-attachment: fixed;
    background-size: auto;
    background-color: #bb1616;
    height: auto;
    display: flex;
}

.main-nav{
    display: none;
}

h1{
    color: #fff;
    font-size: 2.5rem;
    margin: 25px 15px;
    padding: 10px;
}

h2,
h3,
h4{
    font-family: 'Roboto Slab', serif;
    text-align: center;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1.75rem;
}

h4{
    font-size: 1.25rem;
}
p{
    font-size: 1.2rem;
    font-family: 'Oxygen', sans-serif;
    padding: 10px 5px;
}

ul li{
    list-style: none;
    font-size: 1.2rem;
    padding: 5px; 
}


.injera{
    margin: 10px 5px;
    padding: 10px 5px;
}


.store-info{
    margin: 10px 5px;
}


main{
    padding: 1px;
    margin: 10px 0 0 0;
}


.panel{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: 15px 0;
    padding: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.panel-group{
    justify-items: center;
    padding: 2px 16px;
}

.panel .injera img{
    width: 300px;
    height: auto;
}

.contact{
    margin-top: 15px;
    height: 65vh;
    background-color: #e7e4e4;
}

.contact h3{
    margin: 15px 0 0 0;
}

.contact-info{
    font-family: 'Oxygen', sans-serif;
    font-size: 1.25rem;
    list-style: none; 
    justify-items: auto;
    margin: 20px;
}

.map-container{
    display: flex;
    justify-content: center;
}

footer{
  height: 14vh;
  background-color: #bb1616;
}

footer li{
    list-style: none;
    text-align: center;
}

footer p{
    margin: 0;
    color: #fff;
    font-family: cursive;
    text-align: center;
    font-size: 1rem;
}

ion-icon{
    font-size: 3.5rem;
    color: #fff;
}